<div class="card" >
  <div class="card-body">
    <h5 class="card-title"><%= @article.title%></h5>
    <p class="card-text"><%=@article.theme%></p>
  </div>
</div>
<div>
  <%= render 'interpretations/interpretations', interpretations: @article.interpretations.page(params[:page]).per(3) %>
</div>

<div>
  <%= link_to "新規回答の作成", new_article_interpretation_path(@article)%>
</div>