<ul class="list-unstyled">
  <% interpretations.each do |interpretation| %>
    <div class="card" >
      <div class="card-body">
        <p class="card-text"><%=interpretation.content%></p>
      </div>
    </div>
  <% end %>
</ul>
<%= paginate interpretations %>